@tailwind base;
@tailwind components;
@tailwind utilities;

/* LIGHT MODE */
:root {
  --button-outline: rgba(0,0,0, .10);
  --badge-outline: rgba(0,0,0, .05);
  --opaque-button-border-intensity: -8;
  --elevate-1: rgba(0,0,0, .03);
  --elevate-2: rgba(0,0,0, .08);
  --background: 0 0% 100%;
  --foreground: 0 0% 9%;
  --border: 0 0% 91%;
  --card: 0 0% 98%;
  --card-foreground: 0 0% 9%;
  --card-border: 0 0% 95%;
  --sidebar: 0 0% 96%;
  --sidebar-foreground: 0 0% 9%;
  --sidebar-border: 0 0% 93%;
  --sidebar-primary: 45 93% 47%;
  --sidebar-primary-foreground: 45 5% 98%;
  --sidebar-accent: 0 0% 92%;
  --sidebar-accent-foreground: 0 0% 15%;
  --sidebar-ring: 45 93% 47%;
  --popover: 0 0% 94%;
  --popover-foreground: 0 0% 9%;
  --popover-border: 0 0% 91%;
  --primary: 45 93% 47%;
  --primary-foreground: 45 5% 98%;
  --secondary: 0 0% 89%;
  --secondary-foreground: 0 0% 15%;
  --muted: 0 0% 92%;
  --muted-foreground: 0 0% 40%;
  --accent: 45 8% 90%;
  --accent-foreground: 45 8% 15%;
  --destructive: 0 84% 42%;
  --destructive-foreground: 0 5% 98%;
  --input: 0 0% 78%;
  --ring: 45 93% 47%;
  --chart-1: 210 70% 35%;
  --chart-2: 280 65% 38%;
  --chart-3: 160 60% 32%;
  --chart-4: 30 75% 40%;
  --chart-5: 340 68% 37%;
  --font-sans: Open Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: .5rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 0% / 0.00);
  --shadow-xs: 0px 2px 0px 0px hsl(0 0% 0% / 0.00);
